In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as p

In [2]:
df = pd.read_csv("../data/data.csv", index_col=0)
df.head()

,month,year,url,pgn,time_control,rated,time_class,rules,white_rating,white_result,white_username,black_rating,black_result,black_username
id,,,,,,,,,,,,,,
0,5,2020,https://www.chess.com/game/live/4811368920,"[Event ""Live Chess""]\n[Site ""Chess.com""]\n[Dat...",600,True,blitz,chess,1030,win,ImperfectVisitor,836,checkmated,PragashMohanarajah
1,5,2020,https://www.chess.com/game/live/4813650075,"[Event ""Live Chess""]\n[Site ""Chess.com""]\n[Dat...",60,True,bullet,chess,850,timeout,PragashMohanarajah,1060,win,ricti3000
2,5,2020,https://www.chess.com/game/live/4813656361,"[Event ""Live Chess""]\n[Site ""Chess.com""]\n[Dat...",60,True,bullet,chess,933,win,SocialBeet,736,timeout,PragashMohanarajah
3,5,2020,https://www.chess.com/game/live/4813663378,"[Event ""Live Chess""]\n[Site ""Chess.com""]\n[Dat...",60,True,bullet,chess,619,timeout,PragashMohanarajah,680,win,paulreichle
4,5,2020,https://www.chess.com/game/live/4813828525,"[Event ""Live Chess""]\n[Site ""Chess.com""]\n[Dat...",600,True,blitz,chess,736,checkmated,PragashMohanarajah,900,win,Bala620

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18722 entries, 0 to 18721
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   month           18722 non-null  int64
 1   year            18722 non-null  int64
 2   url             18722 non-null  object
 3   pgn             18722 non-null  object
 4   time_control    18722 non-null  object
 5   rated           18722 non-null  bool
 6   time_class      18722 non-null  object
 7   rules           18722 non-null  object
 8   white_rating    18722 non-null  int64
 9   white_result    18722 non-null  object
 10  white_username  18722 non-null  object
 11  black_rating    18722 non-null  int64
 12  black_result    18722 non-null  object
 13  black_username  18722 non-null  object
dtypes: bool(1), int64(4), object(9)
memory usage: 2.0+ MB

In [4]:
df.rated.value_counts()

rated
True     18698
False       24
Name: count, dtype: int64

In [5]:
df.rules.value_counts()

rules
chess            18148
threecheck         234
crazyhouse         197
kingofthehill      103
chess960            40
Name: count, dtype: int64

In [6]:
opps = df.white_username.value_counts()
for name,val in df.black_username.value_counts().items():
    if name in opps:
        opps[name] += val
    else: opps[name] = val
print(opps[1:6])

white_username
Komodo1        24
Ppster         17
Fabian-BOT     17
hidden_tree    13
Komodo2        13
Name: count, dtype: int64

In [9]:
for time_control, count in df.time_control.value_counts().items():
    if "+" in time_control:
        times = time_control.split("+")
        mins = int(times[0]) // 60
        secs = int(times[1])
        if secs == 0:
            print(f"{mins} minutes")
        elif secs == 1:
            print(f"{mins} minutes + 1 second increment")
        else:
            print(f"{mins} minutes + {secs} seconds increment")
    elif "/" in time_control:
        days = int(time_control.split("/")[1]) / 60 / 60 /24
        print(f"{days} days per turn")
    else:
        print(f"{int(time_control) // 60} minutes")

1 minutes
3 minutes
10 minutes
5 minutes
7.0 days per turn
2 minutes + 1 second increment
15 minutes + 10 seconds increment
3.0 days per turn
0 minutes
3 minutes + 2 seconds increment
1 minutes + 2 seconds increment
1 minutes + 1 second increment
15 minutes
5 minutes + 5 seconds increment
25 minutes + 5 seconds increment
1.0 days per turn
2 minutes
30 minutes
20 minutes
15 minutes + 5 seconds increment

In [10]:
for time_format, count in df.time_class.value_counts().items():
    print(time_format, count)

bullet 14507
blitz 3753
rapid 370
daily 92

In [11]:

data = df[(df["white_username"] == "PragashMohanarajah") & (df['white_result'] == "win")]
print(data[data.black_rating == max(data.black_rating)][["black_rating", "black_username"]]["black_username"].values[0])

bzesraj